{% load static %}

<div class="author">
  <a href="#0" class="author__img-wrapper">
    <img src=" {% static 'base/img/diaby.png' %} " alt="Author picture" />
  </a>

  <div class="author__content text-component text-space-y-xxs">
    <h4>Salut! Je suis Adama Diaby</h4>
    <p class="color-contrast-medium">
      Je suis biologiste et developpeur fullstack. Mes technologies préférées en
      ce moment sont : React.js, Typescript, GraphQL, Node.js et PostgreSQL.
    </p>
    <p class="text-sm">diaby223ml@gmail.com</p>
  </div>
</div>
